# Dependencies
node_modules/

# Build output
dist

# Logs
*.log

# TypeScript
*.tsbuildinfo

# Environment variables
.env
.env.local
.dev.vars
.dev.vars*
!.dev.vars.example
!.env.example

# Cloudflare
.wrangler

# Editor
.vscode/

# OS
.DS_Store
Thumbs.db
